---
title: Community
menu:
  main:
    weight: 40
---

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">

      <h1>Community</h1>
</span>
	</div>
</section>

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="td-content row text-justify text-aling-center">
      <div class="col-sm-12">
        <div class="text-center">
          <img src="profile_rpifan.png" width="300" height="300">
        </div>
        <br>
        <br>
        <div>    
	RaspberryPiFan hat das rpi-droid-Projekt gestarted, basierend auf Quellcode von Peter Yoon (peyo-hd). Er erstellt zu viele Git-Commit, die nicht immer funktionieren, gibt aber sein Bestes, um 	Android endlich auf den Raspberry Pi 4 zu portieren. Er trägt außerdem zur Raspberry Pi-Übersetzung bei und erstellt schlechte Webseiten. 
        </div>
        <br>
        <br>
      </div>
      <div class="col-sm-12">
        <div class="text-center">
          <img src="profile_zefie.png" width="300" height="300">
        </div>
        <br>
        <br>
        <div>
          Zefie ist ein Pro-Gamer. Wenn er gut gelaunt ist, programmiert er oder spielt Computerspiele. Sein git-foo macht dich verückt, aber seine Bash-Scripte, du wirst sie mögen! 
        </div>
        <br>
        <br>
      </div>
      <div class="col-sm-12">
        <div class="text-center">
          <img src="profile_koosha.png" width="300" height="300">
        </div>
        <br>
        <br>
        <div>
          Koosha ist ein Sprach-Junky. Kürzlich ist er im Android-Land gelandet, das OS kompilierend. Er sucht nach einer offenen Plattform für Android, auf der die Verwendung in voller Kontrolle ist.
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <ul>
     <li title="discord">
       <a target="_blank" href="https://discord.gg/pzVKCcX"><i class="fa fa-discord"></i> Discord: </a> Unser Discordserver
     </li>
     <li title="gitlab">
       <a target="_blank" href="https://gitlab.com/rpi-droid/rpi4"><i class="fa fa-gitlab"></i> Gitlab: </a> auf GitLab beitragen
     </li>
    </ul>
  </div>
</section>
