---
title: Community
menu:
  main:
    weight: 40
---

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">

      <h1>Community</h1>
</span>
	</div>
</section>

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="td-content row text-justify text-aling-center">
      <div class="col-sm-12">
        <div class="text-center">
          <img src="profile_rpifan.png" width="300" height="300">
        </div>
        <br>
        <br>
        <div>
          RaspberryPiFan created the basics of the rpi_droid project, based on work of Peter Yoon. He uses too many commits on git, and bad names, and what he does doesn't always work, but he tries the best he can to get android working on the raspberry pi. He also contributed to the Raspberry Pi translation.  He also does web-development, but is not very creative, so he doesn't have good designs, even if he could do them.
        </div>
        <br>
        <br>
      </div>
      <div class="col-sm-12">
        <div class="text-center">
          <img src="profile_zefie.png" width="300" height="300">
        </div>
        <br>
        <br>
        <div>
          Zefie is a pro gamer. When he's in good mood you can find him either gaming or coding. His git-foo drives you crazy but his bash-scripts, you'll love!
        </div>
        <br>
        <br>
      </div>
      <div class="col-sm-12">
        <div class="text-center">
          <img src="profile_koosha.png" width="300" height="300">
        </div>
        <br>
        <br>
        <div>
          Koosha is a language-junky. Recently he's been dragged into android land, compiling the os. He's looking for an open platform to run Android where the use is in full control.
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <ul>
     <li title="discord">
       <a target="_blank" href="https://discord.gg/pzVKCcX"><i class="fa fa-discord"></i> Discord: </a> Join our discord
     </li>
     <li title="gitlab">
       <a target="_blank" href="https://gitlab.com/rpi-droid/rpi4"><i class="fa fa-gitlab"></i> Gitlab: </a> Contribute on GitLab
     </li>
    </ul>
  </div>
</section>
