+++
title = "RPi Droid"
linkTitle = "RPi Droid"

+++

{{< blocks/cover title="Android™ optimized for the Raspberry Pi" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "docs" >}}">
		Documentation<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">
	This is an project to compile Android™ for the Raspberry Pi™ 4. We're not finished yet, but we're still working on this project.</p>
	Android is a trademark of Google LLC. Raspberry Pi is a trademark of the Raspberry Pi Foundation.
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Welcome to our website. This website is an inoffical fan project and neither made by the Raspberry Pi Foundation nor Android Inc.
<h2>Our Goal</h2>
We want to make an open source device configuration for the Raspberry Pi™, and allow anyone to use it without having to pay.
We'll add a launcher with taskbar support and allow to run apps in multiple windows to give you a desktop experience while still using a mobile OS.
We'll also provide builds with the default launcher and without windows mode if you want to use a smaller screen. Our build will contain the open-source Chromium browser as default web browser.
We'll also provide a LineageOS version of our project if you want to customize your OS more.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="ARM64! (AARCH64)" %}}
Our builds use the ARM64 architecture for more performance and more apps, like emulators.
We also use Mesa3d for better graphic performance.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="hhttps://gitlab.com/openrpi/rpidroid" %}}
You can contribute to our project on **GitLab**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-discord" title="Join our discord server!" url="https://discord.gg/kf4ZPqP" %}}
For announcement of latest features, discussions about bugs, etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">
We don't have a build for the Raspberry Pi 4 yet, but if you want to have one,
you can check out the <a href="https://konstakang.com/devices/rpi4/LineageOS16.0/">build by Konsta</a>. He was the first one who got it working and the
first one who published a build, even if it's not a final build yet, it's a great build, try it!
</h1></div>
{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="LineageOS also supported" %}}
We're also working on an LineageOS port for the Raspberry Pi. This will maybe be contributed to LineageOS as device (<b>maybe!</b>).
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-android" title="Based on AOSP!" %}}
We use AOSP with an custom device config for our project. So ou're able to install .apk files and run these.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Open-Source" %}}
Our code is completely open-source. Everyone can use it and you don't need to pay to get the code or our builds.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Easy Updates" %}}
Our builds will probably contain an updater so you can update your system easily, without needing to re-flash the SD card.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-android" title="Window mode" %}}
The build will also use a custom launcher to support the new window mode in android 10. This allows you to have multiple apps opened at the same time.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Multiple build types" %}}
We'll provide multiple build types. We provide builds with the types "eng", "userdebug" and "user" so you can choose the build you like. Probaby ther will be builds with root access also.
{{% /blocks/feature %}}


{{< /blocks/section >}}
{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Our build is coming soon...</h1>
</div>

{{< /blocks/section >}}
