+++
title = "RPi Droid"
linkTitle = "RPi Droid"

+++

{{< blocks/cover title="Android™ optimiert für den Raspberry Pi" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "docs" >}}">
		Dokumentation<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">
	Dies ist ein Projekt, um Android™ für den Raspberry Pi 4 zu kompilieren. Wir sind noch nicht fertig, arbeiten aber weiterhin daran.</p>
	Android is a trademark of Google LLC. Raspberry Pi is a trademark of the Raspberry Pi Foundation.
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Willkommen auf unserer Webseite. Dies ist ein inofizielles Projekt und weder von der Raspberry Pi Foundation noch Android Inc.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="ARM64! (AARCH64)" %}}
Wir verwenden ARM64 für eine bessere Leistung und eiine größere App-Auswahl. Auch verwenden wir Mesa3D für optimale Grafikleistung.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Beiträge willkommen!" url="https://gitlab.com/openrpi/rpidroid" %}}
Du kannst **GitLab** zu diesem Projekt beitragen.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-discord" title="Trete unserem Discord-Server bei!" url="https://discord.gg/kf4ZPqP" %}}
Dort findest du Ankündigungen, Diskussionen über Bugs, Test-Build und mehr...
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">
Wir haben noch kein fertiges Build für den Raspberry Pi, aber wenn du jetzt schon Android auf dem Pi haben möchtest, probiere
<a href="https://konstakang.com/devices/rpi4/LineageOS16.0/">LioneageOS 16.0 fpr den Raspberry Pi 4 (von Konsta)</a> aus. Er hat als Erster
eine Version von Android für den Raspberry Pi erstellt. Sein Build ist zwar noch nicht final, aber probier's aus.
</h1></div>
{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="LineageOS wird auch unterstützt" %}}
Wir versuchen auch, LineageOS auf den Raspberry Pi zu protieren. Dies werden wir vielleicht auch LineageOS als neues ofiziell unterstütztes Gerät zur Verfügung stellen (<b>vielleicht!</b>).
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-android" title="Based auf AOSP!" %}}
Wir verwenden das AOSP mit einer anderen Gerätekonfiguration, sodass die meisten .apk-Dateien problemlos laufen.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Open-Source" %}}
Unser Code ist komplett Open-Source. Wir stellen ihn und unsere Builds kostenfrei zur Verfügung.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Einfache Updates" %}}
Unsere Builds werden wahrscheinlich einen Updater enthalten, sodass Sie Android einfach updaten können, ohne die Speicherkarte neu flashen zu müssen.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-android" title="Fenster-Modus" %}}
Wir werden auch einen angepassten Launcher in unseren Builds bereitstellen, sodass Sie Apps in mehreren Fenstern öffnen können (experimentielle Funktion ab Android 10)
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Verschiedene Build-Typen" %}}
Wir werden auch die drei Buildtypen "eng", "userdebug" und "user" anbieten. Wahrscheinlich auch Builds mit root-Zugriff.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Bald ist unser Build verfügbar...</h1>
</div>

{{< /blocks/section >}}
